:root {
  --primary-color: #c9d1d9;
  --content-color: #0d1117;
  --separator-color: #ddd;
  --inset-color: rgba(0, 0, 0, 0.1);
  --btn-bg: #21262d;
  --btn-hover-bg: #30363d;
  --btn-hover-border: #8b949e;
  --btn-copied: #238636;
  --btn-copied-shadow: #226337;
  --border-color: #373a3a;
  --scroll-bg: #333;
  --scroll-handle: #555;
  --handle-hover: #777;
  --github-green: #238636;
  --github-blue: #1f6feb;
  --github-orange: #f78166;
  --connected: #45cc58;
  --checkmark: #45cc58;
  --box-shadow-color: black;
}
